<!DOCTYPE html>
<html lang="en">
<head>
  {% load render_bundle from webpack_loader %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div
    style="display: none"
    data-data="{{ data }}"
    class="data"
  ></div>
  <div id="schedule1"></div>
  <div id="schedule2"></div>
  <div id="schedule3"></div>
  <div id="schedule4"></div>
  <div id="schedule5"></div>
  <div id="schedule6"></div>
  {% render_bundle 'main' 'js' %}
</body>
</html>